<% layout('../layout') -%>
<% script('/js/admin-ui.js') -%>
<% script('/js/libs/fancybox/jquery.fancybox.js') -%>
<% script('/js/libs/fancybox/helpers/jquery.fancybox-buttons.js') -%>
<% script('/js/libs/fancybox/helpers/jquery.fancybox-media.js') -%>
<% stylesheet('/js/libs/fancybox/jquery.fancybox.css') -%>
<% stylesheet('/js/libs/fancybox/helpers/jquery.fancybox-buttons.css') -%>

<div class="admin-menu">
  <div class="admin-tabs lefty">
    <ul>
      <li><a href="/admin/dashboard">Dashboard</a></li>
      <li class="selected"><a href="#">Feedbacks</a></li>
      <li><a href="/admin/users">Users</a></li>
    </ul>
  </div>

  <div class="admin-content lefty">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Movie</th>
          <th>Type</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% var index = 0; f.forEach(function(feedback){ %>
          <tr>
            <td><%= index %></td>
            <td><%= feedback._movie[0].title %></td>
            <td><%= feedback.type %></td>
            <td><%= feedback.description %></td>
            <td class="admin-action-icons">
              <a href="/admin/feedback/solve/<%= feedback._id %>" data-fancybox-type="iframe" id="admin-feedback-solve" class="icon-edit"></a>
              <a href="#ignore" data-feedbackID="<%= feedback._id %>" id="admin-feedback-delete" class="icon-minus-sign"></a>
            </td>
          </tr>
        <% index++; }); %>
      </tbody>
    </table>
  </div>

  <div class="clear"></div>
</div>
