<% m.forEach(function(movie){ %>
  <div class="movie-box target1">
    <a href="/movie/<%= movie._id %>" target="_blank">
      <img src="<%= movie.poster_medium %>" />
    </a>
    <div class="movie-description">
      <p><%= movie.title %></p>
    </div>
    <% if (movie.format == 'blu-ray rip') { %>
      <div class="quality quality-best" title="<%= movie.format %> quality."></div>
    <% }else{ %>
    <% if (movie.format == 'dvd rip') { %>
      <div class="quality quality-good" title="<%= movie.format %> quality."></div>
    <% }else{  %>
      <div class="quality quality-bad" title="<%= movie.format %> quality."></div>
    <% }} %>

  </div>
<% }); %>