<% m.forEach(function(movie){ %>
  <div class="movie-box">
    <a href="/movie/<%= movie._id %>" target="_blank">
      <% if ((movie.poster_medium == '../img/undefined.jpg') || (movie.poster_medium == 'images/undefined.jpg')){ %>
        <div class="blank-square">Missing poster</div>
      <% }else{ %>
        <img src="<%= movie.poster_medium %>" />
      <% } %>
    </a>
    <div class="movie-description">
      <p><%= movie.title %></p>
    </div>
    <% if (movie.format == 'blu-ray rip') { %>
      <div class="quality quality-best" title="<%= movie.format %> quality."></div>
    <% }else{ %>
    <% if (movie.format == 'dvd rip') { %>
      <div class="quality quality-good" title="<%= movie.format %> quality."></div>
    <% }else{  %>
      <div class="quality quality-bad" title="<%= movie.format %> quality."></div>
    <% }} %>

    <% if ((user !== undefined) && (user.role === 'admin')){ %>
      <div class="movie-admin-tools">
        <div class="movie-admin-edit">
          <a href="/admin/movie/edit/<%= movie._id %>" data-fancybox-type="iframe" id="button-edit-movie" class="icon-edit"></a>
        </div>
        <div class="movie-admin-delete">
          <a href="#delete" data-movieID="<%= movie._id %>" id="button-delete-movie" class="icon-minus-sign"></a>
        </div>
      </div>
    <% } %>
  </div>
<% }); %>