<% layout('layout') -%>
<% stylesheet('../css/style.css') -%>
<% script('../js/index.view.js') -%>

<nav class="search-main">
	<ul class="tabs">
    	<li class="left blank">Search by</li>
    	<li class="item title active"><a href="javascript:;" class="item-a">Title</a></li>
        <li class="item quality"><a href="javascript:;" class="item-a">Quality</a></li>
        <li class="item genre"><a href="javascript:;" class="item-a">Genre</a></li>

    </ul>

	<br class="clr" />

	<div class="cont">        
    	<div class="main hidden" id="qualitytab">
    		<div id="query" style="display: inline-block;">
    			All
    		</div>
    		<div class="opts">
                <a href="#" class="gui" id="dropdownicon"></a>
            </div>
        </div>
        <div class="main hidden" id="genretab">
        	<div id="query" style="display: inline-block;">
                All
            </div>
            <div class="opts">
                <a href="#" class="gui" id="dropdownicon"></a>
            </div>
        </div>
        <div class="main" id="titletab">
        	<input type="text" id="query" name="query" placeholder="Type in the title of the movie" />
        	    <div class="opts">
                	<a href="javascript:void(0);" class="gui" id="searchicon"></a>
                </div>
        </div>

        <br style="line-height:10px; height:10px;" />
	</div>
</nav>

<section id="contentHolder">
		<% m.forEach(function(movie){ %>
			<article>
				<div class="qualityContainer">
					<% if (movie.format == 'screener') {%>
						<span class="diag red"><%= movie.format %></span>
					<% } %>
				</div>
				<a href="/m/<%= movie._id %>">
					<img src="<%= movie.poster %>" style="width:185px;height:279px"/>
					<div>
						<span><%= movie.release_date %></span>
						<p>Score: <%= movie.rating %></p>
						<p>Genre: <%= movie.genre %></p>
					</div>
				</a>
			</article>
		<% }); %>
</section>


<div id="loader" style="display:none;"><!--<center><img src="/img/ajax-loader.gif"></center>--></div>