<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title><%= title %> Tookie</title>

  <meta name="description" content="Tookie is a meta-search engine which indexes movie torrents from torrentz and presents all the information in a beautiful and responsive UI." />
  <meta name="keywords" content="tookie, torrentz, torrents, movies, movie, download movies, sabarasaba, ignacio, rivas, ignacio rivas, free movies, view movies, online movies, torrent movies" />

  <!-- Facebook share tags -->
  <% if (typeof movie != 'undefined'){ %>
    <meta property='og:title' content='<%= movie.title %>'/>
    <meta property='og:type' content='movie'/>
    <meta property='og:url' content='/movie/<%= movie._id %>'/>
    <meta property='og:image' content='<%= movie.poster %>'/>
    <meta property='og:site_name' content='tookie'/>
    <meta property='og:description' content='<%= movie.description %>'/>
  <% }else{ %>
    <meta property='og:title' content='Tookie !'/>
    <meta property='og:type' content='website'/>
    <meta property='og:url' content='/'/>
    <meta property='og:image' content='http://cl.ly/image/0V3R182h0539/Image%202012-08-21%20at%203.19.01%20PM.png'/>
    <meta property='og:site_name' content='tookie'/>
    <meta property='og:description' content='Tookie is a meta-search engine which indexes movie torrents from torrentz and presents all the information in a beautiful and responsive UI.'/>
  <% } %>

  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
  <![endif]-->

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/icon-font.css" />
  <link rel="stylesheet" href="/css/style3.css" />
  <%- stylesheets %>

  <!-- Google analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33312532-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <header class="header-menu">
    <nav class="header-nav lefty">
      <ul>
        <li><a href="/" class="icon-home iconLink"></a></li>
      </ul>
      <ul class="header-options">
        <% if ((user !== undefined) && (user.role === 'admin')){ %>
          <li><a href="/admin/dashboard">Admin</a></li>
        <% } %>
        <li><a href="/about">About</a></li>
        <li id="donateButton">
          <a href="#">Donate</a>
          <div class="header-donate">
            <p>
              In order to keep this site as much responsive and alive as possible I need help.
            </p>
            <p>
              If you appreciate what I am doing, please consider a donation. Any amount is a big help for me.
            </p>
            <div class="header-donate-separator">
              <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=PFQ5K9SUTCBFU&lc=AR&item_name=Tookie&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank" class="donate-Button">Donate</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <nav class="header-nav righty">
      <ul>
        <% if (!user){ %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/register" class="no-border">Register</a></li>
        <% } else { %>
          <li><a href="/user/<%= user.name %>">Hi, <%= user.name %></a></li>
          <li><a href="/logout" class="no-border">Logout</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <div class="content-wrapper">
    <div class="branding">
      <h1>Tookie</h1>
      <h2>The ultimate movie torrent indexer.</h2>
    </div>

    <%- body %>

  </div>

  <footer>
    <p>created by: <a href="http://twitter.com/sabarasaba">sabarasaba</a></p>
  </footer>

  <script src="/js/libs/jquery-1.8.3.min.js"></script>
  <script src="/js/common-ui.js"></script>
  <%- scripts %>
</body>
</html>
