<% layout('../layout') -%>
<% script('/js/libs/jquery.Tipsy/jquery.tipsy.js') -%>
<% stylesheet('/js/libs/jquery.Tipsy/tipsy.css') -%>
<% script('/js/account-ui.js') -%>


<div class="account-menu">
  <div class="account-toolbar">
    <ul>
      <li id="user" class="selected"><a href="#user" id="user-button" class="icon-user"></a> </li>
      <li id="favs"><a href="#favourites" id="favs-button" class="icon-star"></a> </li>
    </ul>
  </div>

  <div class="account-content">
    <div class="account-user-sidebar lefty">
      <% if ((user !== undefined) && (paramUser.name === user.name)){ %>
        <a href="https://en.gravatar.com/site/login" target="_blank" id="change-picture" title="Change your avatar at gravatar.com"> <img src="http://www.gravatar.com/avatar/<%= hashedEmail %>.jpg?s=300" alt="You're cute! :)" /> </a>
        <p> Hi, <%= paramUser.name %> ! </p>
        <a href="#edit">[edit]</a>
      <% }else{ %>
        <a href="#profile_pic"> <img src="http://www.gravatar.com/avatar/<%= hashedEmail %>.jpg?s=300" alt="Im cute! :)" /> </a>
        <p> <%= paramUser.name %> </p>
        <a href="#edit">[edit]</a>
      <% } %>
    </div>

    <div class="account-user-info lefty">
      <div class="account-user-info-display" id="user-content">
        <p>Email: <input type="text" name="username" value="<%= paramUser.email %>" readonly /></p>
        <p>Member since: <%= paramUser.created.toUTCString() %></p>
        <p>Favourite movies: <%= favs.length %></p>
      </div>

      <div class="account-user-info-display hidden" style="display: none;" id="favs-content">
        <div class="movies-container">
          <% if (favs.length !== 0){ %>
          <% favs.forEach(function(f){ %>
            <div class="movie-box">
              <a href="/movie/<%= f._movie[0]._id %>" target="_blank">
                <img src="<%= f._movie[0].poster_medium %>" />
              </a>
              <div class="movie-description">
                <p><%= f._movie[0].title %></p>
              </div>
              <% if (f._movie[0].format == 'blu-ray rip') { %>
                <div class="quality quality-best" title="<%= f._movie[0].format %> quality."></div>
              <% }else{ %>
              <% if (f._movie[0].format == 'dvd rip') { %>
                <div class="quality quality-good" title="<%= f._movie[0].format %> quality."></div>
              <% }else{  %>
                <div class="quality quality-bad" title="<%= f._movie[0].format %> quality."></div>
              <% }} %>
            </div>
          <% }); } else{ %>
            <p>No favourite movies over here :(</p>
          <% } %>
        </div>
      </div>
    </div>

  </div>
</div>