<% layout('../layout') -%>
<% script('/js/account-ui.js') -%>


<div class="account-menu">
  <div class="account-toolbar">
    <ul>
      <li id="user" class="selected"><a href="#user" id="user-button" class="icon-user"></a> </li>
      <li id="favs"><a href="#favourites" id="favs-button" class="icon-star"></a> </li>
    </ul>
  </div>

  <div class="account-content">
    <div class="account-user-sidebar lefty">
      <a href="#profile_pic"> <img src="http://www.gravatar.com/avatar/<%= hashedEmail %>.jpg?s=300" alt="You're cute! :)" /> </a>

      <p> Hi, <%= paramUser.name %> ! </p>

      <% if ((user !== undefined) && (paramUser.name === user.name)){ %>
        <a href="#edit">[edit]</a>
      <% } %>
    </div>

    <div class="account-user-info lefty">
      <div class="account-user-info-display" id="user-content">
        Email: <input type="text" name="username" value="<%= paramUser.email %>" readonly /><br>
        Member since: <%= paramUser.created %><br>
        Favourite movies: <%= favs.length %>
      </div>

      <div class="account-user-info-display hidden" style="display: none;" id="favs-content">
        <div class="movies-container">
          <% favs.forEach(function(f){ %>
            <div class="movie-box">
              <a href="/movie/<%= f._movie[0]._id %>" target="_blank">
                <img src="<%= f._movie[0].poster_medium %>" />
              </a>
              <div class="movie-description">
                <p><%= f._movie[0].title %></p>
              </div>
              <% if (f._movie[0].format == 'blu-ray rip') { %>
                <div class="quality quality-best" title="<%= f._movie[0].format %> quality."></div>
              <% }else{ %>
              <% if (f._movie[0].format == 'dvd rip') { %>
                <div class="quality quality-good" title="<%= f._movie[0].format %> quality."></div>
              <% }else{  %>
                <div class="quality quality-bad" title="<%= f._movie[0].format %> quality."></div>
              <% }} %>
            </div>
          <% }); %>
        </div>
      </div>
    </div>

  </div>
</div>