<% layout('../../layout-modals') -%>
<% script('/js/modals-ui.js') -%>

<div class="edit-form">
  <h2>Edit Movie</h2>
  <input type="hidden" id="buttonState" value="cancel" />
  <input type="hidden" id="movie-id" value="<%= f[0]._movie[0]._id %>" />

  <div class="edit-form-field">
    <p>URL</p>
    <input id="movie-url" data-name="<%= f[0]._movie[0].url %>" value="<%= f[0]._movie[0].url %>" />
  </div>

  <div class="edit-form-field">
    <p>Title</p>
    <input id="movie-title" value="<%= f[0]._movie[0].title %>" />
  </div>

  <div class="edit-form-field">
    <p>Description</p>
    <input id="movie-description" value="<%= f[0]._movie[0].description %>" />
  </div>

  <div class="edit-form-field">
    <p>Genre</p>
    <input id="movie-genre" value="<%= f[0]._movie[0].genre %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster</p>
    <input id="movie-poster" value="<%= f[0]._movie[0].poster %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster small</p>
    <input id="movie-posterSmall" value="<%= f[0]._movie[0].poster_small %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster medium</p>
    <input id="movie-posterMedium" value="<%= f[0]._movie[0].poster_medium %>" />
  </div>

  <div class="edit-form-field">
    <p>Rating</p>
    <input id="movie-rating" value="<%= f[0]._movie[0].rating %>" />
  </div>

  <div class="edit-form-field">
    <p>Release date</p>
    <input id="movie-releaseDate" value="<%= f[0]._movie[0].release_date %>" />
  </div>

  <div class="edit-form-field">
    <p>Format</p>
    <input id="movie-format" value="<%= f[0]._movie[0].format %>" />
  </div>

  <div class="edit-form-field">
    <p>Cast</p>
    <input id="movie-cast" value="<%= f[0]._movie[0].cast %>" />
  </div>

  <div class="edit-form-submit">
    <button id="save">Save</button>
    <button id="cancel" class="grey-button">Cancel</button>
  </div>
</div>
