<% layout('../../layout-modals') -%>
<% script('/js/modals-ui.js') -%>

<div class="edit-form">
  <h2>Edit Movie</h2>
  <input type="hidden" id="buttonState" value="cancel" />
  <input type="hidden" id="movie-id" value="<%= m._id %>" />

  <div class="edit-form-field">
    <p>URL</p>
    <input id="movie-url" data-name="<%= m.url %>" value="<%= m.url %>" />
  </div>

  <div class="edit-form-field">
    <p>Title</p>
    <input id="movie-title" value="<%= m.title %>" />
  </div>

  <div class="edit-form-field">
    <p>Description</p>
    <input id="movie-description" value="<%= m.description %>" />
  </div>

  <div class="edit-form-field">
    <p>Genre</p>
    <input id="movie-genre" value="<%= m.genre %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster</p>
    <input id="movie-poster" value="<%= m.poster %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster small</p>
    <input id="movie-posterSmall" value="<%= m.poster_small %>" />
  </div>

  <div class="edit-form-field">
    <p>Poster medium</p>
    <input id="movie-posterMedium" value="<%= m.poster_medium %>" />
  </div>

  <div class="edit-form-field">
    <p>Rating</p>
    <input id="movie-rating" value="<%= m.rating %>" />
  </div>

  <div class="edit-form-field">
    <p>Release date</p>
    <input id="movie-releaseDate" value="<%= m.release_date %>" />
  </div>

  <div class="edit-form-field">
    <p>Format</p>
    <input id="movie-format" value="<%= m.format %>" />
  </div>

  <div class="edit-form-field">
    <p>Cast</p>
    <input id="movie-cast" value="<%= m.cast %>" />
  </div>

  <div class="edit-form-submit">
    <button id="save">Save</button>
    <button id="cancel" class="grey-button">Cancel</button>
  </div>
</div>
